In [22]:
import pandas as pd
import numpy as np
import warnings
from scipy import stats
warnings.filterwarnings("ignore", category=UserWarning, module="openpyxl")

In [8]:
df = pd.read_excel("Fare_Prices.xlsx")
df

,l,Destination,Channel,AdvanceDays,TicketWeekday,DepartureWeekday,Fare,miles
0,DTW,ATL,Expedia,7,Friday,Friday,130.467500,596
1,DTW,ATL,Offline,84,Saturday,Saturday,82.790000,596
2,DTW,ATL,Offline,70,Wednesday,Wednesday,85.431667,596
3,DTW,ATL,Travelocity,100,Tuesday,Thursday,92.090000,596
4,DTW,ATL,Expedia,4,Wednesday,Sunday,171.160000,596
...,...,...,...,...,...,...,...,...
16503,MSP,SFO,Orbitz,14,Friday,Friday,240.000000,1590
16504,MSP,SFO,Offline,70,Saturday,Saturday,101.400000,1590
16505,MSP,SFO,Orbitz,51,Tuesday,Thursday,89.310000,1590
16506,MSP,SFO,Offline,40,Thursday,Tuesday,195.301667,1590
16507,MSP,SFO,Offline,6,Friday,Thursday,415.731818,1590

In [10]:
df.loc[df["l"] == "DTW"]

,l,Destination,Channel,AdvanceDays,TicketWeekday,DepartureWeekday,Fare,miles
0,DTW,ATL,Expedia,7,Friday,Friday,130.467500,596
1,DTW,ATL,Offline,84,Saturday,Saturday,82.790000,596
2,DTW,ATL,Offline,70,Wednesday,Wednesday,85.431667,596
3,DTW,ATL,Travelocity,100,Tuesday,Thursday,92.090000,596
4,DTW,ATL,Expedia,4,Wednesday,Sunday,171.160000,596
...,...,...,...,...,...,...,...,...
8285,DTW,TPA,Offline,17,Saturday,Tuesday,99.078571,985
8286,DTW,TPA,Travelocity,89,Monday,Saturday,155.350000,985
8287,DTW,TPA,Expedia,113,Friday,Saturday,64.190000,985
8288,DTW,TPA,Offline,42,Thursday,Thursday,89.837143,985
8289,DTW,TPA,Offline,42,Monday,Monday,73.962000,985

In [21]:
filtereddf = df.loc[(df["l"] == "DTW") & (df["Destination"] == "ATL") & (df["Channel"] == "Expedia")].reset_index(drop = True)
filtereddf

,l,Destination,Channel,AdvanceDays,TicketWeekday,DepartureWeekday,Fare,miles
0,DTW,ATL,Expedia,7,Friday,Friday,130.467500,596
1,DTW,ATL,Expedia,4,Wednesday,Sunday,171.160000,596
2,DTW,ATL,Expedia,11,Sunday,Thursday,138.605000,596
3,DTW,ATL,Expedia,16,Tuesday,Thursday,117.675000,596
4,DTW,ATL,Expedia,10,Monday,Thursday,185.115000,596
...,...,...,...,...,...,...,...,...
129,DTW,ATL,Expedia,7,Monday,Monday,108.370000,596
130,DTW,ATL,Expedia,6,Thursday,Wednesday,151.715000,596
131,DTW,ATL,Expedia,126,Wednesday,Wednesday,92.090000,596
132,DTW,ATL,Expedia,51,Thursday,Saturday,87.440000,596
133,DTW,ATL,Expedia,1,Tuesday,Wednesday,177.366667,596

In [28]:
[mean,std] = stats.norm.fit(filtereddf["Fare"])

mean, std

(128.96414427860697, 48.83662844368978)